@model IvanovaShop.Models.Basket

@{
	ViewData["Title"] = "Корзина";
}
<div class="main-img-bg">
	<img src="~/img/bg.jpg" alt="Баннер" />
</div>
<ul class="breadcrumbs">
	<li><a asp-controller="Home" asp-action="Index">Главная</a></li>
	<li>
		<a class="active">@ViewData["Title"]</a>
	</li>
</ul>
<h1 class="block-title">@ViewData["Title"]</h1>

<div class="content-wrapper text-center w-80 m-a basket" id="BasketItems">

	@{
		await Html.RenderPartialAsync("_partialBasketItems", @Model);
	}
	
</div>
<script>
	function add(id) {
		let count = $('#item' + id).val()
		$('#item' + id).val(parseInt(count) + 1);
		if (count + 1 > 1) {
			$('#remove' + id).prop("disabled", false);
		}
		$.ajax({
			url: '@Url.Action("AddInBasket","Basket")',
			type: 'POST',
			data: { 'id': id },

			success: function (data) {
				addDataInPage(data,id);
			}
		});
	}

	function remove(id) {
		let count = $('#item' + id).val()

		if (count > 1) {
			$('#item' + id).val(parseInt(count) - 1);
		}

		if (count - 2 < 1) {
			$('#remove' + id).prop("disabled", true);
		}
		$.ajax({
			url: '@Url.Action("RemoveOutBasket","Basket")',
			type: 'POST',
			data: { 'id': id },

			success: function (data) {
				addDataInPage(data, id);
			}
		});
	}

	function chageInBasket(id) {
		$.ajax({
			url: '@Url.Action("ChageInBasketPage","Basket")',
			type: 'POST',
			data: {
				'id': id,
				"count": $('#item' + id).val()
			},

			success: function (data) {
				addDataInPage(data,id)

			}
		});
	}

	function addDataInPage(data,id) {
		if (data != null) {
			$('#buttonWrapper' + id).html(data);
			$.ajax({
				url: '@Url.Action("GetBasketCount","Basket")',
				type: 'Get',

				success: function (data) {
					if (data != null) {
						$('#basketCount').html(data);
						let price = $('#priceInput' + id).val()
						let count = $('#item' + id).val();
						$('#total' + id).html(price * count);

					}

				}
			});
			$.ajax({
				url: '@Url.Action("GetTotalSumBasket","Basket")',
				type: 'Get',

				success: function (data) {
					if (data != null) {

						$('#totalSum').html(data);

					}

				}
			});
		}
	}

	function removeItem(id) {
		$.ajax({
			url: '@Url.Action("ClearItemView","Basket")',
			type: 'Post',
			type: 'POST',
			data: { 'id': id },

			success: function (data) {
				$('#BasketItems').html(data);
				$.ajax({
					url: '@Url.Action("GetTotalSumBasket","Basket")',
					type: 'Get',

					success: function (data) {
						if (data != null) {

							$('#totalSum').html(data);

						}

					}
				});
				$.ajax({
					url: '@Url.Action("GetBasketCount","Basket")',
					type: 'Get',

					success: function (data) {
						if (data != null) {
							$('#basketCount').html(data);
							let price = $('#priceInput' + id).val()
							let count = $('#item' + id).val();
							$('#total' + id).html(price * count);

						}

					}
				});
			}
			
		});
	}
</script> 