@using IvanovaShop.Models;
@model List<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model!=null)
    {
        <div class="card-list">
        @foreach (var item in Model)
        {
                <a class="card" asp-action="Product" asp-controller="Home" asp-route-id="@item.Id">
                <img src="~/img/@item.Image" width="100" height="100"/>
                <p>Имя: @item.Name</p>
                <p>Цена: @item.Price</p>
                <p>Категория: @item.Category</p>
                <p>Артикул: @item.Id </p>
            </a>
        }
        </div>

    }
    
</div>
