@using IvanovaShop.Models;
@model ProductModel
@{
	ViewData["Title"] = Model.Product.Name;
}

<ul class="breadcrumbs">
	<li><a asp-controller="Home" asp-action="Index">Главная</a></li>
	<li>
		<a class="active">@ViewData["Title"]</a>
	</li>
</ul>
<h1 class="block-title">@ViewData["Title"]</h1>
@if (@Model.Result!=0)
{
	<div class="">@Model.Message</div>
}
else
{
	<div class="card product-card">
		<img src="~/img/@Model.Product.Image" width="200" height="200" />
		<div class="product-card-text">
			<p>Имя: @Model.Product.Name</p>
			<p>Цена: @Model.Product.Price</p>
			<p>Артикул: @Model.Product.Id </p>
			@if (!string.IsNullOrEmpty(Model.Product.Description))
			{
				<p>Описание: @Model.Product.Description </p>
			}
			@if (!string.IsNullOrEmpty(Model.Product.Appointment))
			{
				<p>Назначение: @Model.Product.Appointment </p>
			}
			@if (Model.Product.Size != null)
			{
				<p>Размер: @Model.Product.Size </p>
			}
			@if (Model.Product.Material != null)
			{
				<p>Материал: @Model.Product.Material </p>
			}
			@if (Model.Product.Gender != null)
			{
				<p>Пол: @(Model.Product.Gender == true ? "Женский" : "Мужской") </p>
			}
			@if (Model.Product.Weight != null)
			{
				<p>Вес: @Model.Product.Weight </p>
			}
			@if (Model.Product.Type != null)
			{
				<p>Тип: @Model.Product.Type </p>
			}
			@if (Model.Product.LockType != null)
			{
				<p>Тип замка: @Model.Product.LockType </p>
			}
			@if (Model.Product.Genre != null)
			{
				<p>Жанр: @Model.Product.Genre </p>
			}
			@if (Model.Product.Color != null)
			{
				<p>Цвет: @Model.Product.Color </p>
			}
			@if (Model.Product.Year != null)
			{
				<p>Год: @Model.Product.Year </p>
			}0
		</div>
		<div class="button-wrapper" id="buttonWrapper@(Model.Product.Id)">
			@if (Model.basket != null)
			{
				if (Model.basket.Contains(Model.Product))
				{
					<div class="button-wrapper-row"><button data-id="@Model.Product.Id" class="primary-btn" onclick="removeOutBasket(@Model.Product.Id)">-</button><p class="button-basket-text">Уже в корзине</p><button data-id="@Model.Product.Id" class="primary-btn" onclick="addInBasket(@Model.Product.Id)">+</button></div>
				}
				else
				{
					<button class="primary-btn" data-id="@Model.Product.Id" type="button" onclick="addInBasket(@Model.Product.Id)">В корзину</button>
					<a class="primary-btn" asp-action="Buy" asp-controller="Basket" asp-route-id="@Model.Product.Id">Купить сейчас</a>
				}
			}

		</div>
	</div>
}
<script>

	function addInBasket(id) {
		$.ajax({
			url: '@Url.Action("AddInBasketView","Basket")',
			type: 'POST',
			data: { 'id': id },

			success: function (data) {
				if (data != null) {
					$('#buttonWrapper' + id).html(data);
					$.ajax({
						url: '@Url.Action("GetBasketCount","Basket")',
						type: 'Get',

						success: function (data) {
							if (data != null) {
								$('#basketCount').html(data);
							}

						}
					});
				}

			}
		});
	}
	function removeOutBasket(id) {
		$.ajax({
			url: '@Url.Action("RemoveOutBasketView","Basket")',
			type: 'POST',
			data: { 'id': id },

			success: function (data) {
				if (data != null) {
					$('#buttonWrapper' + id).html(data);
					$.ajax({
						url: '@Url.Action("GetBasketCount","Basket")',
						type: 'Get',

						success: function (data) {
							if (data != null) {
								$('#basketCount').html(data);
							}

						}
					});

				}

			}
		});
	}

</script>